{% extends "layout.html" %} {% block body %} {% load crispy_forms_tags %}

<h3> Şifrenizi mi unuttunuz ? </h1>

    <p> Yeni bir şifre almak için e-posta adresinizi girin :</p>


    <form action="." method="POST">
        {% csrf_token %} {{form|crispy}}

        <p><input type="submit" value="Email gönder" class="btn btn-info "></p>
    </form>
    <br>
    <small class="text-danger">Settings.py de gonderenin email ve passwordu kayıt etmelisin. </small><br>
    <small class="text-danger"> Emailinizin  lessecure ozelligini aktıf yapmayı unutmayın . Yoksa Hata alırsınız    </small> {% endblock body %}