{% extends "layout.html" %} {% block body %} {% load crispy_forms_tags %}

<h3 style="color:rgb(6, 150, 102)">Parolanı sıfırla</h3>
<hr> {% if validlink %}
<p>
    Lütfen yeni şifrenizi iki kez girin:</p>


<form action="." method="post">

    {% csrf_token %} {{form|crispy}}

    <p><input class="btn btn-info" type="submit" value="Parolanı degiştir" /></p>

</form>
{% else %}
<p> Şifre sıfırlama bağlantısı, muhtemelen zaten kullanılmış olduğu için geçersizdi. Lütfen yeni bir şifre sıfırlama isteyin. </p>
{% endif %} {% endblock %}