{% extends 'layout.html' %} {% block static %} {% endblock static %} {% block body %}


<h3>Hakkımızda Sayfası </h3>
<hr>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam numquam, optio doloribus iusto esse tenetur voluptatibus perferendis modi quaerat mollitia laborum explicabo eos possimus omnis voluptate deserunt dicta ab aut, aliquid architecto facere nulla.
    Quasi perspiciatis temporibus maiores dignissimos sequi ratione eaque tenetur modi recusandae. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus aut, quidem tempore quae aperiam illo quia ipsum iusto odit facere labore! Corrupti
    sapiente voluptatum, accusantium architecto nulla quia laborum! Ipsam quo quod corporis magnam provident, tempore nesciunt eum. Reiciendis sapiente dolor qui quaerat itaque illo voluptatum labore architecto rerum officiis blanditiis distinctio natus
    eos eum dignissimos voluptatem, maiores mollitia. Quos dignissimos assumenda, eius neque dolor necessitatibus? Libero eum excepturi modi ullam sapiente maiores, aliquam rem possimus eaque nesciunt recusandae consequuntur deserunt blanditiis tempore
    eos! Neque, aliquam reiciendis ullam corporis eveniet possimus consequatur. Aspernatur assumenda officiis facere eaque quis laudantium magnam fuga hic eos deleniti repellendus sed id totam iusto, atque at quas quisquam commodi suscipit harum neque
    mollitia inventore doloremque odit! Aliquid blanditiis quae libero animi dicta dignissimos praesentium cupiditate sed, voluptatem alias sint? Dolorum ratione voluptas dolores itaque maxime neque quaerat possimus expedita sequi quam? Adipisci corporis
    ad quasi.
</p>

<!-- 



<pre class="prettyprint">

    def mukemmel_mi(sayı) :

    toplam = 0
    for i in range(1,sayı ) :
        if (sayı % i ==0 ) :
            toplam+= i

    if(toplam == sayı )  :
        print(sayı , " Mükemmel sayıdır ")
    else :
        print(sayı , "Mükemmel sayı degildir ")


while True :
    sayı = input("Sayı giriniz : ")

    if (sayı =="q" ) :
        print("Çıkış yapılıyor ...")
        break
    else :
        sayı =int(sayı)
        mukemmel_mi(sayı)
</pre>  
-->




{% endblock body %}